*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
}

body {
  overflow: hidden;
  background-color: #f5f5dc;
}

/* main */

.main-grid {
  height: 100vh;
  display: grid;
  grid-template: 100%/ 65% 35%;
}

/* video section */

.video-section {
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-block {
  position: relative;
  width: 90%;
  max-width: 800px;
  height: 78%;
  /* border: 0.15em solid #000; */
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px #d5d5d5;
  background: #fef9e7de;
}

.video-block::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 20%;
  background-color: #b87333;
  top: -5%;
  right: 1%;
  transform: rotate(-45deg) skewX(20deg);
}

.video-title {
  position: absolute;
  top: -5%;
  left: -5%;
  background-color: #808000;
  color: #fff;
  padding: 1em 0.45em;
  font-size: 1.65rem;
  text-transform: uppercase;
  transform: skewX(-3deg) skewY(-4deg);
}

.video-title .pin {
  transform: translateX(-40%) scale(0.5);
}

.project-video {
  width: 100%;
  height: auto;
  cursor: pointer;
  box-shadow: 0 5px 10px #d5d5d5;
}

.reveal {
  animation: reveal 1.25s ease-in 1;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* projects buttons */

.projects-buttons-group {
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.project-btn {
  background-color: #c19a6b;
  padding: 1.25em 1.15em 0.75em 1.15em;
  margin: -0.5em 0.5em;
  border: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  transform: rotate(-2deg) skewX(2deg);
  border-radius: 0.25em;
  box-shadow: 0 1px 2px #000, 0 5px 10px #d5d5d5;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.project-btn a {
  text-decoration: none;
  color: #000;
  transition: inherit;
}

.project-btn:hover {
  background-color: #b87333;
}

.project-btn:hover a {
  color: #fff;
}

.project-btn .button-pin {
  transform: translateX(-40%) scale(0.5);
}

.project-btn .pin-body {
  background-color: yellow;
}

/* projects list */

nav {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 1em;
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.fa-bell {
  transform: rotate(15deg);
}

.projects-list {
  position: relative;
  width: 250px;
}

details[open] {
  z-index: 5;
}

summary {
  padding: 0.5em;
  cursor: pointer;
  list-style-type: none;
  user-select: none;
  font-size: 1.15rem;
  border: 2px solid #000;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(45deg) translate(50%, 25%);
  transition: transform ease-in-out 200ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 50%);
  margin-right: 0.25em;
}

ul {
  width: 100%;
  background: #f5f5dc;
  position: absolute;
  top: calc(100% + 0.5em);
  left: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #000;
  list-style-type: none;
  font-size: 1.15rem;
}

li {
  margin: 0;
  padding: 0.5em;
  border-bottom: 2px solid #000;
  cursor: pointer;
  user-select: none;
  color: #000;
}

li:hover {
  background-color: #808000;
  font-weight: 700;
  color: #fff;
}

li:last-child {
  border-bottom: none;
}

/* projects */

.projects-block {
  padding: 1em;
  height: 90vh;
  position: relative;
  overflow-y: scroll;
}

.project-card {
  position: relative;
  width: 90%;
  max-width: 380px;
  height: 260px;
  margin: 2em 0;
  padding: 1.5em 0.5em;
  background-color: #fef9e7bd;
  border: 2px solid rgba(0, 0, 0, 0.637);
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.project-card::before,
.project-card::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 2em;
  left: -0.2em;
  bottom: -0.2em;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transition: all 250ms ease-in-out;
}

.project-card::before {
  background: #f5f5dc;
}

.project-card::after {
  background: rgba(160, 154, 154, 0.534);
  transform: scale(-1, -1);
}

.project-img {
  position: absolute;
  width: 90%;
  height: 75%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(160, 154, 154);
  padding: 0.25em;
  background-color: rgba(235, 224, 224, 0.459);
  box-shadow: 0 0 5px rgba(170, 170, 170, 0.37);
  transition: all 250ms ease-in-out;
}

.project-caption {
  position: absolute;
  bottom: 0.25em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
  transition: all 250ms ease-in-out;
}

.project-card:hover {
  transform: translateX(-50%) rotate(-5deg);
}

.project-card:hover .project-caption {
  font-size: 1.6rem;
}

.project-card:hover .project-img {
  width: 88%;
}

.project-card:hover::after,
.project-card:hover::before {
  width: 2.25em;
  height: 2.25em;
}

.pin {
  position: absolute;
  width: 4em;
  height: 3em;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 0.35em;
  background-color: rgba(51, 47, 47, 0.918);
  top: 50%;
  left: 0.05em;
  transform: translateY(-50%);
  z-index: -2;
  border-radius: 0.15em;
}

.pin::after {
  content: "";
  position: absolute;
  width: 0.25em;
  height: 0.5em;
  background-color: rgba(129, 127, 127, 0.418);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -3;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(46, 45, 45);
}

.pin-body {
  width: 1.75em;
  height: 1.15em;
  background: #ff0000;
  position: relative;
  border-top: 0.5px solid rgba(145, 14, 14, 0.514);
  border-bottom: 0.5px solid rgba(145, 14, 14, 0.514);
}

.pin-body::before,
.pin-body::after {
  content: "";
  position: absolute;
  width: 60%;
  background-color: inherit;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid rgba(145, 14, 14, 0.514);
  box-shadow: 0 2px 5px rgba(145, 14, 14, 0.514) inset;
}

.pin-body::before {
  height: 150%;
  right: -20%;
}

.pin-body::after {
  height: 185%;
  left: -25%;
  z-index: -1;
}

.project-card.select {
  border: 5px solid #0000ff;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.project-card.select::before,
.project-card.select::after {
  width: 2.15em;
  height: 2.15em;
  left: -0.35em;
  bottom: -0.35em;
}

.project-card.select::after {
  background-color: rgb(183, 191, 231);
}

.project-card.select .project-caption {
  font-size: 1.6rem;
  color: #0000ff;
}

.project-card.select .project-img {
  width: 88%;
}

.project-card.select .pin-body {
  background: #0000ff;
}

/* projects description */

.project-description-container {
  position: absolute;
  width: 90%;
  height: 45%;
  z-index: 10;
  bottom: -500px;
  transform: rotate(0deg);
  transform-origin: 100% 100%;
  transition: all 1s ease-in-out;
}

.project-notes {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 3px #d5d5d5;
  background: #eeeedd;
  color: #ac4a04;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-notes p {
  width: 75%;
  font-size: 1.25rem;
  margin: 0.25em 0;
  user-select: none;
}

.close-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5rem;
}

.close-btn i {
  cursor: pointer;
}

.show-description {
  bottom: 0;
  transform: rotate(-5deg);
}

/* general classes */

.hide {
  display: none;
}

/* media queries */

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  .projects-list {
    position: relative;
    width: 220px;
  }

  .project-card {
    max-width: 360px;
    height: 200px;
    padding: 1.25em 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.637);
  }

  .project-card.select::before,
  .project-card.select::after {
    width: 2.25em;
    height: 2.25em;
    left: -0.5em;
    bottom: -0.5em;
  }

  .project-card.select {
    border: 3px solid #0000ff;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .main-grid {
    height: 100vh;
    display: grid;
    grid-template: 100%/ 63% 37%;
  }

  .projects-list {
    position: relative;
    width: 180px;
  }

  .video-block {
    height: 72%;
    padding: 5em 1em;
  }

  .projects-block {
    padding: 0.5em;
  }

  .project-card {
    max-width: 420px;
    height: 190px;
    padding: 1.25em 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.637);
  }

  .project-card.select::before,
  .project-card.select::after {
    width: 2.25em;
    height: 2.25em;
    left: -0.5em;
    bottom: -0.5em;
  }

  .project-card.select {
    border: 3px solid #0000ff;
  }

  .project-card.select .project-caption {
    font-size: 1.35rem;
    color: #0000ff;
  }

  .project-caption {
    position: absolute;
    bottom: 0.5em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

@media (max-width: 424px) {
  html {
    font-size: 10px;
  }

  .main-grid {
    height: 100vh;
    display: grid;
    grid-template: 50% 50% / 100%;
  }

  .video-section {
    border-right: none;
    grid-row: 2 /-1;
  }

  .projects-list-container {
    grid-row: 1 / 2;
    overflow-y: hidden;
    border-bottom: 2px solid #000;
  }

  nav {
    margin-top: 0.75em;
    padding: 0.75em 0.5em;
  }

  .projects-list {
    position: relative;
    width: 180px;
  }

  .projects-block {
    padding: 0.75em;
    height: 40vh;
  }

  .project-card {
    max-width: 280px;
    height: 200px;
    padding: 1.25em 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.637);
  }

  .video-title {
    padding: 0.75em 0.25em;
    font-size: 1.25rem;
  }

  .video-block {
    width: 85%;
    height: 80%;
    padding: 3em 0.5em;
  }

  .project-video {
    width: 95%;
  }

  .project-btn {
    padding: 1.15em 1.05em 0.5em 1.05em;
    margin: -0.35em 0.35em;
    font-size: 1.15rem;
  }

  .project-card.select::before,
  .project-card.select::after {
    width: 2.25em;
    height: 2.25em;
    left: -0.5em;
    bottom: -0.5em;
  }

  .project-card.select {
    border: 3px solid #0000ff;
  }

  .project-card.select .project-caption {
    font-size: 1.35rem;
    color: #0000ff;
  }

  .project-caption {
    position: absolute;
    bottom: 0.5em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  .project-description-container {
    width: 90%;
    height: 65%;
  }

  .project-notes {
    padding-top: 2em;
  }

  .project-notes p {
    width: 80%;
    font-size: 1.15rem;
  }
}

@media (max-width: 375px) {
  .video-block {
    width: 85%;
    height: 70%;
    padding: 4em 0.5em;
  }
}
