*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf8f9;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* layout */

.app__container {
  /* border: 2px solid red; */
  width: 90%;
  max-width: 500px;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  user-select: none;
}

.shopping-cart-image__container {
  width: 50%;
  margin: 1em auto;
  filter: drop-shadow(0 0 5px #aaa);
}

.input__field,
.add__btn {
  padding: 0.75em 1em;
  font-size: 1.15rem;
  border-radius: 0.5em;
}

.input__field {
  border: 1px solid #aaa;
}

.add__btn {
  border: 0;
  background-color: #068da9;
  color: #fff;
  cursor: pointer;
}

.add__btn:hover {
  background-color: rgb(7, 95, 112);
}

/* shopping list */

.shopping-list__heading {
  margin: 1em 0;
  color: #e55807;
  font-size: 1rem;
  text-align: center;
}

.shopping-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.shopping-list p {
  width: 100%;
  text-align: center;
  font-size: 1.15rem;
}

.shopping-list li {
  position: relative;
  flex-grow: 1;
  padding: 0.75em 1em;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 0.5em;
  border: 2px solid #068da9;
  background-color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.shopping-list li i {
  position: absolute;
  color: transparent;
  left: 50%;
  transform: translateX(-50%);
}

.shopping-list li:hover {
  border: 2px solid #7e1717;
  color: transparent;
}

.shopping-list li:hover i {
  color: #7e1717;
}

@media (min-width: 540px) {
  .input__field,
  .add__btn {
    font-size: 1.25rem;
  }

  .shopping-list__heading {
    font-size: 1.15rem;
  }

  .shopping-list li {
    font-size: 1.15rem;
  }
}
