body {
  background: #aaa;
}

.scene {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-25%, -35%);
  perspective: 500px;
}

.title {
  position: absolute;
  margin-top: -10em;
}

.title h1 {
  font-size: 2.25rem;
  font-family: fantasy;
  letter-spacing: 2px;
}

.title h1 span {
  color: #de1738;
}

.title p {
  font-size: 1.15rem;
  font-family: sans-serif;
}

.dog {
  transform-style: preserve-3d;
  filter: drop-shadow(4px 4px 7px #000);
}

.upper-half,
.lower-half {
  position: absolute;
  background-color: red;
  width: 400px;
  height: 170px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transition: transform 2s;
  box-shadow: 0px -0.25px 1px #aaa inset;
}

.lower-half,
.lower-left-half,
.lower-right-half {
  transform: scaleY(-1);
  margin-top: 170px;
}

.upper-half.step1 {
  transform: rotateX(180deg);
  transform-origin: bottom;
}

.lower-left-half,
.lower-right-half {
  position: absolute;
  width: 200px;
  height: 170px;
  background-color: red;
  transition: transform 1.5s;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.lower-right-half {
  margin-left: 200px;
  transform: scale(-1, -1);
}

.lower-left-half.step2 {
  transform: rotateY(180deg) scaleY(-1);
  transform-origin: right;
}

.lower-left-half.step3 {
  transform: rotateY(0deg) scaleY(-1);
  transform-origin: right;
  box-shadow: -0.25px 0px 1px #aaa inset;
}

.ear-left,
.ear-right {
  position: absolute;
  width: 170px;
  height: 72px;
  background-color: #800000;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-top: 170px;
  transition: transform 2s;
  z-index: 2;
  opacity: 0;
}

.ear-right {
  margin-left: 230px;
}

.ear-left.step4 {
  transform: rotateZ(-46deg) scaleY(-1);
  transform-origin: top-right;
}

.ear-right.step4 {
  transform: rotateZ(46deg) scaleY(-1);
  transform-origin: top-right;
}

.lower-face {
  position: absolute;
  width: 230px;
  height: 98px;
  background-color: red;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-top: 242px;
  margin-left: 85px;
  opacity: 0;
}

.upper-face {
  position: absolute;
  width: 235px;
  height: 140px;
  background-color: red;
  clip-path: polygon(36% 0, 64% 0, 100% 54%, 0 53%);
  margin-top: 170px;
  margin-left: 83px;
  opacity: 0;
}

.mouth {
  position: absolute;
  width: 120px;
  height: 52px;
  background-color: #800000;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-top: 290px;
  margin-left: 140px;
  transition: transform 2s;
  z-index: 2;
  opacity: 0;
}

.mouth.step5 {
  transform: rotateX(180deg);
  transform-origin: top;
}

.lower-face-upper {
  position: absolute;
  width: 235px;
  height: 50px;
  background-color: red;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
  margin-top: 240px;
  margin-left: 83px;
  transform: scaleY(-1);
  opacity: 0;
}

.eyes {
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 205px;
  margin-left: 150px;
  opacity: 0;
}

.eye-right {
  margin-left: 225px;
}

.nose {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #000;
  margin-top: 235px;
  margin-left: 175px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: scaleY(-1);
  z-index: 3;
  opacity: 0;
}

.animate {
  animation: showFeatures 1s linear;
  animation-fill-mode: forwards;
}

.buttons {
  position: absolute;
  margin-left: -100px;
  margin-top: -20px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  outline: none;
  cursor: pointer;
  background: radial-gradient(40% 40% at 50% 50%, #a8e063, #56ab2f);
  border: none;
  font-weight: bold;
  box-shadow: 3px 3px 2px #000;
}

button:hover {
  background: #56ab2f;
}

@keyframes showFeatures {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .scene {
    top: 20%;
    left: 5%;
    transform: translate(-5%, -20%) scale(0.75);
  }

  .buttons {
    position: absolute;
    margin-left: 20px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
  }

  .buttons span {
    width: 350px;
    display: flex;
    justify-content: space-around;
  }

  .buttons .second-row {
    width: 260px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .scene {
    top: 20%;
    left: 10%;
    transform: translate(-5%, -20%) scale(0.8);
  }

  .buttons {
    position: absolute;
    margin-left: 20px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
  }

  .buttons span {
    width: 350px;
    display: flex;
    justify-content: space-around;
  }

  .buttons .second-row {
    width: 260px;
  }
}

@media (min-width: 376px) and (max-width: 426px) {
  .scene {
    top: 20%;
    left: 12%;
    transform: translate(-5%, -20%) scale(0.8);
  }

  .buttons {
    position: absolute;
    margin-left: 20px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
  }

  .buttons span {
    width: 350px;
    display: flex;
    justify-content: space-around;
  }

  .buttons .second-row {
    width: 260px;
  }
}
